@{
    ViewData["Title"] = "Sobre o Sistema";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto criado no 1º Bimestre da disciplina de Desenvolvimento de Software Visual, na UP.</p>
